$("#selSubGrupo").empty();
$("#selSubGrupo").append("<option value=0>Sub Grupo</option>");
<% @subgrupo.each do |subgrupo| %>
	$("#selSubGrupo").append("<option value=<%= subgrupo.id%>> <%=subgrupo.nome%> </option>");

	<%end%>