<h2>Sistema De Questões para Avaliações de Medicina</h2>




<p>Desenvolvido pela equipe de tecnologia da informação da Faculdade Faceres.</p>



<span class="label label-success">Versão: 5.1.2 </span>

<br>
<br>







<%= link_to 'Voltar',questoes_path,:class => 'btn btn-default btn-primary' %>


