<h1 align="center">Prova concluída com sucesso <span class="glyphicon glyphicon-thumbs-up text-info"></span> </h1>

<br>

<!--<div align="center"><%= image_tag("smile.jpg", :alt => "rss feed") %></div>-->